<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Socket Stream</title>
		<script>
			function draw() {
				const canvas = document.getElementById('bg-canvas');
				const ctx = canvas.getContext('2d');

				ctx.fillStyle = 'rgb(200, 0, 0)';
				ctx.fillRect(10, 10, 50, 50);

				ctx.fillStyle = 'rgba(0, 0, 200, 0.5)';
				ctx.fillRect(30, 30, 50, 50);
			}
		</script>
		<link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
	</head>
	<body onload="draw();">
		<canvas id="bg-canvas" width="150" height="150">
			Hello Socket Streamers!
		</canvas>
	</body>
</html>